server:
  port: 8080
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://switchyard.proxy.rlwy.net:24943/railway
    username: postgres
    password: hfZkdrMMFOnKfXvrUOIRNyOtuErQxAdm
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO

# JWT settings
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn

