server:
  port: 8080
  servlet:
    context-path: /auth

spring:
  datasource:
    url: jdbc:postgresql://switchyard.proxy.rlwy.net:24943/railway
    username: postgres
    password: hfZkdrMMFOnKfXvrUOIRNyOtuErQxAdm
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO

# JWT settings
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn

verification:
  email-otp:
    expiry-seconds: 900
