.container {
  padding: 24px;
}

.header {
  margin-bottom: 24px;
}

.backRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.headerMeta {
  flex: 1;
  margin-left: 16px;
}

.headerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

