server:
  port: 8083
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://shinkansen.proxy.rlwy.net:22601/railway
    username: postgres
    password: wQMmyHLmSzihiSpyGvKBdeUWSalNIAuT
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO

# JWT Configuration - Must match auth-service signerKey
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn
