/* SmoosicEditorPage container styles */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1a1a2e;
}

.iframe {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}
