server:
  port: 8080
  servlet:
    context-path: 

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/identity_service}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO
    com.mutrapro.identity_service: DEBUG

# JWT Configuration
jwt:
  signerKey: ${JWT_SIGNER_KEY:QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn}

verification:
  email-otp:
    expiry-seconds: 900
