server:
  port: ${SERVER_PORT:8085}
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO

# JWT Configuration - Must match auth-service signerKey
jwt:
  signerKey: ${JWT_SIGNER_KEY}
