server:
  port: 8081
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://trolley.proxy.rlwy.net:19324/railway?TimeZone=UTC
    username: postgres
    password: beywrjIGcwFtmwRKIlgUPUHayisTmIlx
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  sql:
    init:
      mode: never
  data:
    redis:
      host: redis-11105.c292.ap-southeast-1-1.ec2.redns.redis-cloud.com
      port: 11105
      password: 7h9vCLiYAuVo4IBKbOJHz2LKcW8B4l0a
      timeout: 3000ms

logging:
  level:
    root: INFO

# JWT Configuration
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn
  access-token:
    expiry-seconds: 3600  # 1 hour
  refresh-token:
    expiry-days: 7        # 7 days

verification:
  email-otp:
    expiry-seconds: 900