server:
  port: 8080
  servlet:
    context-path: 

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/identity_service}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  sql:
    init:
      mode: never
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 3000ms

logging:
  level:
    root: INFO
    com.mutrapro.identity_service: DEBUG

# JWT Configuration
jwt:
  signerKey: ${JWT_SIGNER_KEY:QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn}
  access-token:
    expiry-seconds: ${ACCESS_TOKEN_EXPIRY_SECONDS:3600}  # 1 hour
  refresh-token:
    expiry-days: ${REFRESH_TOKEN_EXPIRY_DAYS:7}          # 7 days

verification:
  email-otp:
    expiry-seconds: 900
