server:
  port: 8081
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://hopper.proxy.rlwy.net:48406/railway
    username: postgres
    password: bQcviWDzROOzrDMkWqjudyTPVugqydQd
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  sql:
    init:
      mode: never
  data:
    redis:
      host: redis-11105.c292.ap-southeast-1-1.ec2.redns.redis-cloud.com
      port: 11105
      password: 7h9vCLiYAuVo4IBKbOJHz2LKcW8B4l0a
      timeout: 3000ms
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  level:
    root: INFO

# JWT Configuration
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn
  access-token:
    expiry-seconds: 3600  # 1 hour
  refresh-token:
    expiry-days: 7        # 7 days

verification:
  email-otp:
    expiry-seconds: 900
  password-reset:
    expiry-hours: 24

app:
  outbox:
    max-retries: 3
  event-topics:
    mappings:
      email.verification: email-verification
      password.reset: password-reset

# Outbound OAuth configuration
outbound:
  identity:
    client-id: "531413256463-rnt0s858u2gs7fgheov0guko7fc52cca.apps.googleusercontent.com"
    client-secret: "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"
    redirect-uri: "http://localhost:5173/authenticate"

# Specialist Service Configuration
specialist:
  service:
    base-url: ${SPECIALIST_SERVICE_BASE_URL:http://localhost:8086}

# Management & Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true