server:
  port: 8080
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/identity_service
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  sql:
    init:
      mode: never
  data:
    redis:
      host: localhost
      port: 6379
      password: 
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

logging:
  level:
    root: INFO

# JWT Configuration
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn

verification:
  email-otp:
    expiry-seconds: 900