server:
  port: 8086
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://switchyard.proxy.rlwy.net:23349/railway
    username: postgres
    password: KsAAqFfYPNVMTLuxMobTSYtNMiWHfeTD
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO

# JWT Configuration - Must match auth-service signerKey
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn

# Feign Client Configuration
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 60000  # 60 seconds for batch API calls
      project-service:
        connectTimeout: 5000
        readTimeout: 60000  # 60 seconds for batch API calls

# AWS S3 Configuration
aws:
  s3:
    enabled: true
    region: ap-southeast-1
    access-key: AKIAZ24ITCMNFIY2Z3VX
    secret-key: 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
    bucket-name: mutrapro-dev-files

# Management & Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

