apiVersion: v1
kind: Service
metadata:
  name: billing-service
  namespace: mutrapro
  labels:
    app: billing-service
spec:
  selector:
    app: billing-service
  ports:
  - name: http
    port: 80
    targetPort: 8084
    protocol: TCP
  type: ClusterIP

