apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: mutrapro
  labels:
    app: identity-service
spec:
  selector:
    app: identity-service
  ports:
  - name: http
    port: 8081
    targetPort: 8081
    protocol: TCP
  type: ClusterIP

