apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: mutrapro
  labels:
    app: notification-service
spec:
  selector:
    app: notification-service
  ports:
  - name: http
    port: 8085
    targetPort: 8085
    protocol: TCP
  type: ClusterIP
