apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: mutrapro
  labels:
    app: payment-service
spec:
  selector:
    app: payment-service
  ports:
  - name: http
    port: 8084
    targetPort: 8084
    protocol: TCP
  type: ClusterIP
