server:
  port: 8087
  servlet:
    context-path: 

spring:
  datasource:
    url: jdbc:postgresql://shuttle.proxy.rlwy.net:29634/railway
    username: postgres
    password: ToYAkDrNXuvNsxpdFhOryNVGEaifYcRw
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    root: INFO

# JWT Configuration - Must match auth-service signerKey
jwt:
  signerKey: QVHfEyXEd7KG4eUfYAWOUvuPjlufU3vImJ0MEialEhHoQPjB6wZTL6Ma9XLnKaYn

